---
import '../styles/global.css';
import BaseLayout from "../layouts/BaseLayout.astro"
import HomeLayout from "../layouts/HomeLayout.astro"
import Header from "../components/Header.astro"

import About, { bgColour as aboutBg, bgImage as aboutImg } from "./About.astro";
import Portfolio, { bgColour as portfolioBg, bgImage as portfolioImg } from "./Portfolio.astro";
import Photography, { bgColour as photoBg, bgImage as photoImg } from "./Photography.astro";
import Contact, { bgColour as contactBg, bgImage as contactImg } from "./Contact.astro";

const pageTitle = "Welcome!"
const bgImage = "../../assets/backgrounds/Layer61.png";
const bgColour = "#291b13";
---
<!-- <div class = "keyart" id = "nonparallax"></div> -->
<div class = "keyart" id = "parallax">
	<div class = "keyart_layer parallax" id= "keyart-0" data-speed = "5"></div>
	<div class = "keyart_layer parallax" id= "keyart-1" data-speed = "11"></div>
	<div class = "keyart_layer parallax" id= "keyart-2" data-speed = "16"></div>
	<div class = "keyart_layer parallax" id= "keyart-7" data-speed = "20"></div>
	<div class = "keyart_layer parallax" id= "keyart-3" data-speed = "26"></div>
	<div class = "keyart_layer parallax" id= "keyart-4" data-speed = "36"></div>
	<div class = "keyart_layer parallax" id= "keyart-5" data-speed = "69"></div>
	<div class = "keyart_layer parallax" id= "keyart-6" data-speed = "100"></div>
</div>


<div class="maincontain">
	<Header />
	<section id="about" data-bg={aboutBg} data-image={aboutImg}><About /></section>
	<section id="portfolio" data-bg={portfolioBg} data-image={portfolioImg}><Portfolio /></section>
	<section id="photography" data-bg={photoBg} data-image={photoImg}><Photography /></section>
	<section id="contact" data-bg={contactBg} data-image={contactImg}><Contact /></section>
</div>

<style>
.keyart, .keyart_layer {
	height: 160vh;
}

#parallax {
	display: block;
}
/* #nonparallax {
	display: block;
} */
/* 
#nonparallax {
	background-image: url('../images/keyart-mobile.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
} */

.keyart {
	position: relative;
	top: 0;
	z-index: -1;
}

.keyart_layer {
	background-position: top center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	width: 100%;
	position: absolute;
	will-change: transform;
}
.keyart_layer.parallax {
	position: fixed;
}
	#keyart-1 {
		background-image: url("../../assets/backgrounds/Layer001-min.png");
	}
	#keyart-2 {
		background-image: url("../../assets/backgrounds/Layer002-min.png");
	}
	#keyart-3 {
		background-image: url("../../assets/backgrounds/Layer003-min.png");
	}
	#keyart-4 {
		background-image: url("../../assets/backgrounds/Layer004-min.png");
	}
	#keyart-5 {
		background-image: url("../../assets/backgrounds/Layer005-min.png");
	}
	#keyart-6 {
		background-image: url("../../assets/backgrounds/Layer006.png");
	}
	#keyart-7 {
		background-image: url("../../assets/backgrounds/Title.png");
		background-size: 90%;
		top: 7rem;
		opacity: 85%;
	}
</style>
<script>
	// document.addEventListener("DOMContentLoaded", function () {
	// 	const sections = document.querySelectorAll("section[id]"); // get sections from index.astro
	// 	const navLinks = document.querySelectorAll(".navbar a"); // get sections from navbar

	// 	const observer = new IntersectionObserver((entries) => {
	// 		entries.forEach(entry => {
	// 			if (entry.isIntersecting) {
	// 				const bgColor = entry.target.dataset.bg;
    //     			const bgImage = entry.target.dataset.image;
	// 				if (bgImage) {
	// 					mainContain.style.background = `url(${bgImage}) no-repeat center center/cover`;
	// 				} else if (bgColor) {
	// 					mainContain.style.background = bgColor;
	// 				} else {
	// 					mainContain.style.background = ""; // Reset if no attributes
	// 				}
	// 				// navLinks.forEach(link => {
	// 				// 	link.classList.toggle(
	// 				// 		"active",
	// 				// 		link.getAttribute("href") === "#" + entry.target.id
	// 				// 	);
	// 				// });
	// 			}
	// 		});
	// 	}, { threshold: 0.3 }); // section is "active" if at least 30% in viewport (maximum threshold for photography)

	// 	sections.forEach(section => observer.observe(section));
	// });

	function castParallax() {
			window.addEventListener("scroll", function () {
				var top = this.pageYOffset;
				var layers = document.getElementsByClassName("parallax");

				for (var i = 0; i < layers.length; i++) {
					var layer = layers[i];
					var speed = layer.getAttribute("data-speed");
					var yPos = -(top * speed / 100);

					layer.style.transform = "translate3d(0px, " + yPos + "px, 0px)";
					layer.style.display = "block";
				}
			});
	}
	castParallax();

	document.addEventListener("DOMContentLoaded", function () {
	const sections = document.querySelectorAll("section[id]");
	const mainContain = document.querySelector(".maincontain");

	const observer = new IntersectionObserver((entries) => {
		entries.forEach(entry => {
		if (entry.isIntersecting) {
			const bgColor = entry.target.dataset.bg;
         	const bgImage = entry.target.dataset.image;
			if (bgColor && bgImage) {

			}
			if (bgImage && bgColor) {
				// Set both background color and image
				mainContain.style.background = `${bgColor} url(${bgImage})`;
				} else if (bgImage) {
				// Only image
				mainContain.style.background = `url(${bgImage})`;
				} else if (bgColor) {
				// Only color
				mainContain.style.background = bgColor;
				} else {
				// Fallback if neither is provided
				mainContain.style.background = "black";
				}

			// mainContain.style.background: = bgColor;
			// mainContain.style.background = `url(${bgImage}) no-repeat center center / cover`;		
		}
		});
	}, { threshold: 0.3 });

	sections.forEach(section => observer.observe(section));
	});

</script>
