---
import BaseLayout from "../layouts/BaseLayout.astro"
import PhotoPost from "../components/PhotoPost.astro"

const pageTitle = "My photos"
const bgColour = "#33313f"
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

const sortedPosts = allPosts.slice().sort((a:any, b:any) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime());
---

<BaseLayout pageTitle = {pageTitle} bgColour = {bgColour}>
    <p>
        A collection of the photos I would like to share with the world!
        My standards for my own photography have dropped significantly
        in the past few months, so the ones posted here are any that I find
        relatively pleasant to look at. Feast your eyes upon some mid photography!!!
    </p>
    <div class="gallery">
        {sortedPosts.map((post:any) => {
            const {title, pubDate, description, camera, image, tags} = post.frontmatter;
            return (<PhotoPost title = {title} image = {image.url} description = {description} date = {pubDate} camera = {camera}/>);
        })}
    </div>
</BaseLayout>