---
import BaseLayout from "../layouts/BaseLayout.astro"
import PortfolioPost from "../components/PortfolioPost.astro"

const pageTitle = "Things I've made"
const allProjects = Object.values(import.meta.glob('./projects/*.md', { eager: true }));
const tags = [...new Set(allProjects.map((project: any) => project.frontmatter.tags).flat())];

export const bgColour = "#2b3f42"
export const bgImage = "https://transparenttextures.com/patterns/subtle-carbon.png"
---
<BaseLayout pageTitle = {pageTitle} bgColour = {bgColour} bgImage = {bgImage}>
    <div id = "description">
        <p>
            Welcome to my portfolio! This section contains a collection of my technical projects.
        </p>
        <p>
            Use the buttons below to filter by specific categories, with the option to view all projects for a complete overview.
        </p>
        <p>
            Each project includes documentation, photos, and GitHub repository links so you can see how everything works and access the complete code.
        </p>
        <!-- tags -->
        <div class = "tags">
            <button class="tag active" data-tag="all">All</button>
            {tags.map((tag) => (
                <button class="tag" data-tag={tag}>{tag}</button>
            ))}
        </div>
    </div>
    <!-- projects -->
    <div class = "project-wall">
        {allProjects.map((post:any) => {
            const {title, description, image, link, tags} = post.frontmatter;
            return (
                <div class = "project" data-tags={tags.join(" ")}>
                    <PortfolioPost title = {title} image = {image.url} description = {description} link = {link}/>
                </div>);
        })}
    </div>
    <script>
        const tagButtons = document.querySelectorAll(".tag");
        const projects = document.querySelectorAll(".project");
        let activeTags = new Set(["all"]);

        function updateProjects() {
            projects.forEach(proj => {
                const projTags = proj.dataset.tags.split(" ");
                const match =
                activeTags.has("all") ||
                [...activeTags].every(t => projTags.includes(t));

                proj.hidden = !match;
            });
        }

        tagButtons.forEach(btn => {
            btn.addEventListener("click", e => {
                const tag = btn.dataset.tag;

                if (!e.shiftKey) { // normal click:
                    if (!activeTags.has(tag)) { // select
                        activeTags = new Set([tag]);
                        tagButtons.forEach(b => b.classList.remove("active"));
                        btn.classList.add("active");
                    } else { // deselect
                        activeTags.delete(tag);
                        btn.classList.remove("active");

                        if (activeTags.size == 0) {
                            activeTags.add("all");
                            document.querySelector('[data-tag="all"]').classList.add("active");
                        }
                    }

                } else { // shift + click:
                    if (tag === "all") {
                        activeTags = new Set(["all"]);
                        tagButtons.forEach(b => b.classList.remove("active"));
                        document.querySelector('[data-tag="all"]').classList.add("active");
                    } else {
                        activeTags.delete("all");

                        if (!activeTags.has(tag)) { // select
                            activeTags.add(tag);
                            btn.classList.add("active");
                        } else { // deselect
                            activeTags.delete(tag);
                            btn.classList.remove("active");

                            if (activeTags.size == 0) { 
                                activeTags.add("all");
                                document.querySelector('[data-tag="all"]').classList.add("active");
                            }
                        }
                    }
                }
                updateProjects();
            });
        });
        updateProjects();
    </script>
</BaseLayout>