---
const { title, description, image, date, camera } = Astro.props;
let formattedDate = date;
if (date) {
  const d = new Date(date);
  formattedDate = `${String(d.getMonth() + 1).padStart(2,'0')}/${String(d.getDate() + 1).padStart(2,'0')}/${d.getFullYear()}`;
}
const modalId = `modal-id-${title.replace(/\s+/g, '-').toLowerCase()}`;
---
<div class="thumbnail">
    <img 
        src={`../../assets/photos/${image}`}
        alt={title}
        class="thumbnail-info"
        onclick={`document.getElementById('${modalId}').classList.add('active')`}
    />
</div>

<!-- Modal -->
<div id={modalId} class="modal" onclick="this.classList.remove('active')">
  <div class="modal-content" onclick="event.stopPropagation()">
    <span class="close-btn" onclick={`document.getElementById('${modalId}').classList.remove('active')`}>&times;</span>
    <img src={`../../assets/photos/${image}`} alt={title} />
    <div class = "photo-info">
        <p>{description}</p>
        <p style="color:rgba(170,170,170,.6)">Taken on {formattedDate} using {camera}</p>
    </div>
  </div>
</div>